<h1 mat-dialog-title>Corpus Wizard</h1>
<div class = "col-sm-6" style = "height: 70%;">
    <mat-dialog-content style = "height: 100%">
        <!-- <mat-form-field style = "width : 100%;">
            <input matInput tabindex="1" [(ngModel)]="inputurl" placeholder="Input the Actual URL" style="margin-top:10px">
        </mat-form-field>
        <button mat-button (click)= "onAdd()" style="width: 100%;" >Add To Url List</button> -->
        
        <!-- <div style = "height: 200px;border:1px solid black; box-shadow: 2px 2px #888888;"> -->
            <mat-form-field style="width: 100%;">
                <textarea matInput style="height:150px;" [(ngModel)]="urlarea" placeholder="URL List"></textarea>
            </mat-form-field>
        <!-- </div> -->
        <mat-radio-group style = "display: grid" [(ngModel)] = "optionvalue" (change) = "onValueChange()">

            <mat-radio-button value="1" style="margin-top: 10px">Only take given URL or search results</mat-radio-button>
            <mat-radio-button value="2" style="margin-top: 10px">Follow links</mat-radio-button>

            <mat-radio-group style = "display : none;"[(ngModel)] = "optionvalue1" id = "radiogroup2" >
                <mat-radio-button value="1" style="margin-top: 20px" >Of domain</mat-radio-button>
                <mat-radio-button value="2" style="margin-top: 20px">Regex</mat-radio-button>
                <mat-form-field>
                    <input matInput tabindex="1" [(ngModel)]="inputregexp" placeholder="Regex" style="margin-top:10px">
                </mat-form-field>
            </mat-radio-group>
        </mat-radio-group>
    </mat-dialog-content>
</div>

<div class = "col-sm-6" style = "height: 70%;">

</div>
<div>
    <mat-form-field style = "width : 100%;">
        <input matInput tabindex="1" [(ngModel)]="maxnumber" placeholder="Input the Max">
    </mat-form-field>
</div>
<div>
    <mat-dialog-actions style = "float: right">
        <button mat-button (click)="onYesClick()" tabindex="2">OK</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
    </mat-dialog-actions>
</div>